<div class="flex justify-center">    
    <div  class = "min-h-0 inline-grid grid-cols-8 bg-gray-400 p-2 ">
        <div *ngFor="let column of baseGameService.Board;let x = index">
            <div *ngFor="let row of column; let y = index">
                
                <button

                    (click)="clickHandle(x,y)"
                    class=" rounded-full w-20 h-20 " 
                    [style.grid-column]="y"
                    [style.grid-row]="x"
                    [ngClass]="baseGameService.getPlayerClass(x,y)" 
                    (mouseenter) = "baseGameService.getmouseKoord(x,y)" 
                    [disabled] = "baseGameService.showWinScreen" >
                
                </button>
            </div>
        </div> 
        <div *ngIf="baseGameService.showWinScreen"class ="winscreen">
            <p class = "textclass">
                {{baseGameService.text}} hat gewonnen !!!

            </p>
            <div class = "menuDiv">
                <button (click) = "baseGameService.reset()" class = "menuBtn1">
                    <p class = "textclass">
                        Neues Spiel

                    </p>

                </button>
                <button (click) = "baseGameService.goMenu()" class = "menuBtn1">
                    <p class = "textclass">
                        Hauptmenu

                    </p>

                </button>
            </div>    
            



        </div>
    </div>
</div>    
<div class = "absolute inline-grid grid-cols-1 p-2 top-10 left-100 gap-1" >
    <div class="w-20 h-20 rounded-[10px] bg-red-500 row-start-1">

    </div>
    <button class ="w-20 h-20 rounded-[10px] row-start-2 bg-gray-500 " (click) = "tetris()" [disabled] = "(baseGameService.spielerID == 0)">
        <p>
            Tetris
        </p>

    </button>
    <button class = "w-20 h-20 rounded-[10px] row-start-3 bg-gray-500  "  (click)="changeBombSelected()" [ngClass] = "{ 'bg-yellow-300': selectedAll[1]['bomb']}" [disabled] = "(baseGameService.spielerID == 0)">
        <p>
            Bomb
        </p>

    </button>
    <button class = "w-20 h-20 rounded-[10px] row-start-4 bg-gray-500" (click) = "changeSwapSelected()" [ngClass] = "{ 'bg-yellow-300': selectedAll[1]['swap']}" [disabled] = "(baseGameService.spielerID == 0)">
        <p>
            swap
        </p>
    </button>
    

</div>
<div class = "absolute inline-grid grid-cols-1 p-2 top-10 right-100 gap-1">
    <div class="w-20 h-20 rounded-[10px] bg-blue-500 row-start-1">

    </div>
    <button class ="w-20 h-20 rounded-[10px] row-start-2 bg-gray-500 " (click) ="tetris()" [disabled] = "(baseGameService.spielerID == 1)">
        <p>
            Tetris
        </p>

    </button>
    <button class = "w-20 h-20 rounded-[10px] row-start-3 bg-gray-500  "  (click)="changeBombSelected()" [ngClass] = "{ 'bg-yellow-300':selectedAll[0]['bomb'] }" [disabled] = "(baseGameService.spielerID == 1)">
        <p>
            Bomb
        </p>

    </button>
    <button class = "w-20 h-20 rounded-[10px] row-start-4 bg-gray-500" (click) = "changeSwapSelected()" [ngClass] = "{ 'bg-yellow-300': selectedAll[0]['swap'] }" [disabled] = "(baseGameService.spielerID == 1)">
        <p>
            swap
        </p>
    </button>
    

</div>

