<div class="flex justify-center ">    
    <div  class = "relative top-10 min-h-0 inline-grid grid-cols-8 bg-neutral-500 p-5 rounded-t-xl shadow-xl inset-ring-sm ">
        <div *ngFor="let column of baseGameService.Board;let x = index">
            <div *ngFor="let row of column; let y = index">
                
                <button

                    (click)="baseGameService.clicked(x,y)"
                    class=" rounded-full w-20 h-20 m-1" 
                    [style.grid-column]="y"
                    [style.grid-row]="x"
                    [ngClass]="baseGameService.getPlayerClass(x,y)" 
                    (mouseenter) = "baseGameService.getmouseKoord(x,y)" 
                    [disabled] = "baseGameService.showWinScreen" >

                
                </button>
            </div>
        </div> 
        <div *ngIf="baseGameService.showWinScreen"class ="absolute w-150 h-50 z-9 bg-stone-700/75 top-75  left-20 rounded-xl">
            <p class = "textclass">
                {{baseGameService.text}} hat gewonnen !!!

            </p>
            <div class = "menuDiv">
                <button (click) = "baseGameService.reset()" class = "rounded-xl bg-red-600 m-5 bg-opacity-100 h-20 w-50 z-10">
                    <p class = "textclass">
                        Neues Spiel

                    </p>

                </button>
                <button (click) = "baseGameService.goMenu()" class = "rounded-xl bg-red-600 m-5 bg-opacity-100 h-20 w-50 z-10 ">
                    <p class = "textclass">
                        Hauptmenu

                    </p>

                </button>
            </div>    
            



        </div>
    </div>    
   
</div> 



    
        
    


