/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
.c1{
    color: rgb(29, 43, 83)

}
c2{
    color:rgb(126, 37, 83);
}
c3{
    color: rgb(255, 0, 77);
}
c4{
    color: rgb(250, 239, 93);
}

