<div class="flex justify-center">
    <div  class = "min-h-0 inline-grid grid-cols-8 bg-gray-400 p-2 ">
        <div *ngFor="let column of Board;let x = index">
            <div *ngFor="let row of column; let y = index">
                
                <button
                    (click)="clicked(x,y)"
                    class="rounded-full w-20 h-20 " 
                    [style.grid-column]="y"
                    [style.grid-row]="x"
                    [ngClass]="getPlayerClass(x,y)" 
                    (mouseenter) = "getmouseKoord(x,y)" 
                    [disabled] = "showWinScreen" >
                
                </button>
            </div>
        </div> 
        <div *ngIf="showWinScreen"class ="winscreen">
            <p class = "textclass">
                {{text}} hat gewonnen !!!

            </p>
            <div class = "menuDiv">
                <button (click) = "reset()" class = "menuBtn1">
                    <p class = "textclass">
                        Neues Spiel

                    </p>

                </button>
                <button (click) = "goMenu()" class = "menuBtn1">
                    <p class = "textclass">
                        Hauptmenu

                    </p>

                </button>
            </div>    
            
        </div>
    </div>
</div>
